.call__complete {
  &__donate {
    &__grid {
      display: grid;
      grid-template-columns: 50%;
      grid-template-rows: auto;
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      margin: 20px 0;
      
      button {
        font-size: 32px;
        font-weight: bold;
        text-transform: inherit;

        &.donate-best {
          background-color: $red;
          color: #fff;
        }

        span {
          display: block;
          font-size: 22px;
          font-weight: normal;
        }
      }

      .grid-1 {
        grid-column: 1;
      }
      .grid-2 {
        grid-column: 2;
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: auto;
    grid-column-gap: 20px;

    @include bp(medium) {
      display: inherit;
    }
  }

  &__remind {
    grid-column: 1;

    blockquote {
      margin: 10px !important;
      padding: 16px;
      background-color: $gray-light;
      border-radius: 10px;

      h3 {
        margin: 0;
      }
    }

    .react-phone-number-input {
      margin-bottom: 8px;

      button {
        margin: inherit;
        padding: inherit;
        background-color: inherit;
      }

      input {
        padding: 0 6px;
        font-size: 24px;
      }
    }

    h5 {
      margin-left: 20px;
    }
  }

  &__share {
    text-align: right;
    grid-column: 2;
    // width: 400px;

    @include bp(medium) {
      text-align: left;
      width: 100%;
    }

    &__img {
      display: block;
      
      width: 100%;
      border: none;

      @include bp(medium) {
        width: 100%;
      }  
    }

    &__links {
      p {
        float: left;
        width: 50%;
        padding: 2px 8px;
        background-color: red;
        font-size: 26px;

        i {
          margin-right: 8px;
        }

        a {
          color: white;
          text-decoration: underline;
          cursor: pointer;
        }
      }

      &__twitter {
        background-color: #1DA1F2 !important;
      }

      &__facebook {
        background-color: #3B5998 !important;
      }
    }
  }
}
