.page__group {
  position: relative;

  .page__header {
    height: 90px;
    margin: 24px 0 28px 0;

    img {
      display: inline-block;
      float: left;
      height: 100px;
      max-width: 120px;
      margin: 0 15px 4px 0;
    }

    &__image {

    }
  }

  .page__title {
    font-size: 42px;
    margin: 0 0 4px 75px;
    padding-top: 10px;
  }

  .page__subtitle {
    font-size: 25px;
    font-weight: normal;
    margin: 0 0 0 75px;
  }

  blockquote {
    background-color: #ddd;
    border-radius: 6px;
    padding: 10px 14px;
    -webkit-margin-start: 10px;
    -webkit-margin-end: 10px;    

    p {
      margin-bottom: 0;
    }
  }

  &__image {
    overflow: hidden;
    float: right;
    // position: absolute;
    top: 0;
    right: 0;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: $gray-xlight;
    img {
      width: 100%;
      height: auto;
    }

    @include bp(small) {
      position: relative;
      margin: auto;
    }
  }

  li {
    font-size: 18px;
    line-height: 1.4em;
    margin-bottom: 12px;
  }

  button {
    margin-bottom: 18px;
  }
}