.layout {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 1224px;

  @include bp(medium) {
    // some safaris have trouble with this flex switch and both boxes are displayed over top one another
    // for debugging another day, inline rather than flex resolves the issue

    display: inline;
    // flex-direction: column;
  }
}

.layout__side {
  flex: 1;
  border-top: 2px solid $red;
  margin: 30px;
  min-width: 300px;
  max-width: 350px;

  @include bp(medium) {
    max-width: inherit;
    margin: 0;
  }
}

.layout__main {
  flex: 2;
  margin: 16px 24px 24px 6px;
  max-width: 830px;

  @include bp(medium) {
    margin: 0 24px 24px;
  }
}

.logo__header {
  min-height: 12px;
  border-bottom: solid 8px $red;

  @include bp(small) {
    border-bottom: solid 2px $red;
  }

  &__logo {
    justify-content: space-between;
    position: relative;
    padding: 10px 30px 0px 30px;

    @include bp(medium) {
      display: block;
    }

    ul {
      list-style: none;
      margin: 5px 0 0 0;

      li {
        float: left;
        margin-right: 40px;

        @include bp(medium) {
          margin-right: 20px;
        }

        a {
          font-size: 20px;
          font-weight: 600;
          color: $blue;

          &.active {
            text-decoration: underline;
          }
        }
      }
    }

    img {
      width: 130px;
      height: 36px;
    }

    .userHeader {
      position: relative;
      float: right;

      p {
        float: right;
        margin: 8px 0 0 0;

        height: 20px;
        max-width: 120px;
        overflow: hidden;

        line-height: 1em;
        text-align: right;

        a {
          color: $blue;
          &:hover {
            cursor: pointer;
            text-decoration: none;
          }
        }
      }

      &__menu {
        // display: none;
        position: absolute;
        top: 33px;
        right: 0;
        width: 150px;
        padding: 4px 0;
        background-color: #fff;
        border-radius: 3px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);

        ul {
          width: 100%;
          margin: 0;
          padding: 0;
        }
        li {
          width: 100%;
          margin: 0;
          padding: 4px 10px;
          text-align: right;

          a {
            font-size: 15px;
            font-weight: normal;
          }
        }
        li.line {
          width: 100%;
          height: 1px;
          margin: 3px 0;
          padding: 0;
          background-color: rgba(0, 0, 0, .1);
        }
      }

      .stars {
        float: right;
        margin-left: 6px;

        width: 33px;
        height: 33px;
        border-radius: 17px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &__donate {
    background-color: $red;

    .layout {
      display: flex;

      @include bp(medium) {
        display: inline-block;
        width: 100%;
      }

    }

  }

  &__donatebutton {
    max-width: 200px;
    margin-right: 10px;

    @include bp(medium) {
      max-width: 100%;
      margin: 0 20px;
    }

    @include bp(small) {
      float: left;
      width: 100%;
      max-width: 400px;
      margin-bottom: 8px;
    }

    a {
      float: left;
      width: 60px;
      background-color: #fff;
      margin: 6px 5px 0 0;
      padding: 8px 0;
      border: 2px solid $blue;
      border-radius: 5px;
      color: $blue;
      text-align: center;
      font-size: $font-normal;

      @include bp(medium) {
        width: 100%;
      }

      @include bp(small) {
        float: right;
        width: 30%;
        margin: 6px 25px 0 0;
        border: 1px solid $blue;
        border-radius: 5px;
        padding: 6px 0;
      }

    }

    p {
      margin: 7px 0 0 0;
      color: #fff;
      font-size: 14px;

      @include bp(small) {
        display: inline-block;
        width: 60%;
        height: 100%;
        text-align: right;
        font-size: $font-small;
        line-height: 1.0em;
      }
    }

    &:after {
      @include bp(small) {
        clear: left;
      }
    }

    &:last-child {
      @include bp(small) {
        margin-bottom: 2px;
      }
    }
  }

  &__donatetext {
    max-width: 200px;
    line-height: inherit;
    margin: 5px 20px 0 30px;

    @include bp(medium) {
      width: 100%;
      max-width: inherit;
    }

    @include bp(small) {
      width: 100%;
      text-align: center;
      margin: 5px auto 4px auto;
    }

    a {
      color: white;
      font-size: $font-small;
      text-decoration: underline;
    }
  }
}

.callcount {
  clear: both;
  font-size: $font-xlarge;
  font-weight: bold;
  text-transform: uppercase;
  @include bp(small) {
    font-size: $font-large;
  }
}

.promote {
  p {
    font-size: $font-large;
    text-align: center;
  }
  a {
    cursor: pointer;
    display: inline-block;
    margin: 12px 12px 20px;
  }
}

.extras {
  &__title {
    margin: 24px auto 48px auto;
    max-width: 700px;

    font-size: 32px;
    font-weight: 100;
    font-style: italic;
    text-align: center;
  }

  &__band {
    width: 100%;
    clear: both;
    background-color: $blue;
    padding: 26px 0 30px 0;
  }

  ul {
    width: 100%;
    margin: 0;
    -webkit-padding-start: 0px;
  }

  li {
    list-style: none;
    width: 33%;
    float: left;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 500;

    @include bp(medium) {
      float: none;
      width: inherit;
    }

    .img-contain {
      height: 70px;
    }
  }

  .explainer {
    &__pick img {
      width: 250px;
      height: 69px;
      margin-top: 7px;
    }

    &__call img {
      width: 250px;
      height: 85px;
    }

    &__result img {
      width: 290px;
      height: 71px;
      margin-top: 7px;
    }
  }

  .articles {
    li {
      width: 25%;

      @include bp(medium) {
        width: inherit;
      }
    }
    li img {
      width: 260px;
      height: 80px;
    }
  }

  &__tweets {
    margin: 80px 0;
    ul {
      li {
        text-align: left;
        padding: 0 30px;
        @include bp(medium) {
          margin: 30px 0;
        }

        img {
          float: left;
          width: 42px;
          height: 42px;
        }

        p {
          margin-left: 48px;
          margin-bottom: 5px;
          color: $blue;

          font-style: italic;
          font-weight: 100;
          line-height: 1.2em;
        }

        .user {
          font-style: normal;
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
  }

  &__media {
    margin: 80px 0;
    // text-align: center;

    ul {
      // width: 800px;
      margin: 0 auto;
      li  {
        width: 33%;
        // margin: 0 10px;
        @include bp(medium) {
          width: inherit;
          margin: 20px 0;
        }

        img {
          width: 250px;
        }
      }
    }
  }
}

.extraDisclaimer {
  text-align: center;

  p {
    font-size: 14px;
  }
}

button {
  border: 0;
  margin: 1px;
  padding: 16px 0;
  text-transform: uppercase;
  background-color: $blue-light;
  text-align: center;

  &:hover {
    background-color: $red;
    cursor: pointer;
  }
}

.progress {
  position: relative;
  width: 100%;
  height: 20px;
  margin: 0 20px 10px 0;
  background-color: white;

  p.totaltext {
    z-index: 3;
    position: absolute;
    margin: 1px 8px;

    font-size: 28px;
    color: #fff;
  }

  &__total {
    z-index: 2;
    position: relative;
    display: inline-block;
    min-width: 10%;
    height: 20px;
    background-color: $blue;

    color: white;
    text-align: right;
    padding-right: 5px;
    line-height: 21px;
    border-radius: 5px;
  }

  &__border {
    z-index: 1;
    position: absolute;
    width: 100%;
    background-color: $blue-light;
    border-radius: 5px;
  }

  &__goal {
    z-index: 3;
    position: absolute;
    text-align: right;
    width: 100%;
    text-align: right;
    height: 20px;
    padding-right: 5px;
    line-height: 21px;
    color: #fff;

    @include bp(medium) {
      display: none;
    }
  }
}

.progress__large {
  height: 40px;

  .progress__total {
    height: 40px;
    // line-height: 26px;
  }

  .progress__border {
    height: 40px;
  }

  .progress__goal {
    font-size: 28px;
    height: 40px;
    line-height: 40px;
  }
}

.postcards {
  &__example {
    float: left;
    width: 320px;
    margin: -20px 20px 10px 0;

    @include bp(medium) {
      float: none;
      width: 100%;
      margin: 10px;
    }
  }

  h1 {
    font-size: 50px;
    text-transform: none;
  }

  h2 {
    clear: both;
    font-size: 32px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
  }

  ul {
    li {
      font-size: 18px;
      margin-bottom: 8px;
    }
  }

  blockquote {
    background-color: #ddd;
    border-radius: 4px;
    padding: 10px 14px;

    p {
      margin-bottom: 5px;
    }
  }
}
